/* 

A = 14
B = 16
C = 18
D = 20
E = 22
F = 24
G = 26
H = 36
I = 44
J = 70


color:---------
#0F1A4A
#717171

*/

.font_A {
    font-size: 14px;
}

.font_B {
    font-size: 16px;
}

.font_C {
    font-size: 18px;
}

.font_D {
    font-size: 20px;
}

.font_E {
    font-size: 22px;
}

.font_F {
    font-size: 24px;
}

.font_G {
    font-size: 26px;
}

.font_H {
    font-size: 36px;
}

.font_I {
    font-size: 44px;
}

.font_J {
    font-size: 70px;
}

.font_K {
    font-size: 17px;
}

.font_L {
    font-size: 55px;
}

.font_M {
    font-size: 40px;
}