@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}

body {
    font-family: Helvetica Neue !important;
}


/* Navbar Menu Start */

.brand_image {
    width: 40%;
}

.navbar {
    box-shadow: 0px 2px 13px rgb(0 0 0 / 32%);
    z-index: 1;
}

.nav-item,
.nav-item a {
    font-size: 16px;
    color: #0F1A4A !important;
}

.custom-select {
    margin-top: 6px;
}

.service_menu {
    border: none;
    background-color: transparent;
    width: 100%;
    margin-top: 7px;
}

.service_menu:focus {
    outline: 0;
}

.language_selection .custom-select-trigger {
    width: 125px !important;
}

.language_selection .custom-select-trigger::before {
    content: '\1F310';
    color: #0F1A4A;
    filter: grayscale(100%);
}

.language_selection .custom-select-trigger i {
    display: block !important;
}


/* Mobile menu */

.navbar-light .navbar-toggler {
    border: 0 !important;
}

.navbar-light .navbar-toggler:focus {
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none;
}

.navbar-light .navbar-toggler-icon:focus {
    background-image: url(../images/cross.svg) !important;
}


/* Slider start */

.content_holder_image {
    position: relative;
}

.slider_caption {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(0 0 0 / 70%), rgba(0, 0, 0, 0) 87.2%);
    color: #fff;
}

.slider_content {
    height: 100%;
    display: flex;
    align-items: center;
}

.slider_info h1 {
    font-weight: bold;
}

.slider_info p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
}

.main_button {
    background: #FF6347;
    border-radius: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #ff6347 !important;
}


/* Service Area */

.service_head h4,
.service_child h5 {
    color: #0F1A4A;
    font-weight: bold;
}

.service_head p {
    color: #717171;
}

.service_child p {
    color: #333;
}

.services_mobile_view {
    margin: 0 auto !important;
}

.services_mobile_view a {
    text-decoration: none;
}

.card_image {
    background: rgba(255, 99, 71, 0.1);
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_image img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.card_img {
    background: rgba(255, 99, 71, 0.1);
}


/* App area start */

.app_area {
    background-color: #F7F7F7;
}

.app_download {
    display: flex;
    align-items: center;
}

.app_info h2,
.app_detail p {
    color: #1F2022 !important;
}

.app_info p {
    color: #333;
}


/* Blog Part Start */

.blog_area {
    background-color: #fff;
}

.blog_head {
    color: #0F1A4A;
}

.card_detail {
    background-color: #F7F7F7 !important;
}

.single_blog {
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
}

.blog_detail {
    width: 50%;
}

.single_blog img {
    width: 50%;
}

.blog_child h5 {
    color: #0F1A4A;
}

.blog_child p {
    color: #333;
}


/* Press part Start */

.press_area {
    background-color: #F7F7F7;
}

.press_logo{
    width: 60%;
    margin: 0 auto;
    display: block;
}


/* Demo part start */

.demo_head {
    color: #0F1A4A;
}

.demo_card {
    border: none !important;
}

.demo_card_details i {
    border: none;
    background-color: #F7F7F7;
    color: #231F20;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 8px 7px;
}

.demo_card_details h5 {
    color: #1C1B24;
}

.demo_card_details p {
    color: #333;
}

.demo_view_more {
    background-color: transparent;
    color: #333333;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.demo_view_more:hover {
    color: #FF6347;
    transition: 0.3s;
}


/* newsletter start */

.newsletter_section {
    background-color: #F7F7F7;
    height: 300px;
    display: flex;
    align-items: center;
}

.subscribe_label {
    font-family: Helvetica Neue;
    font-weight: 500;
    font-style: normal;
    color: #0F1A4A;
}

.subscribe_input {
    padding: 10px 20px;
    width: 25%;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #FF6347;
}

.subscribe_input:focus {
    outline: 0;
}

.subscribe_input::placeholder {
    font-family: Helvetica Neue;
    font-size: 20px;
    line-height: 26px;
    color: #DFDFDF;
}

.search-container .subscribe_btn {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: 16px;
    background: #FF6347;
    opacity: 0.2;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container .subscribe_btn:hover {
    background-color: #FF6347;
    opacity: 1;
    transition: 0.4s;
}


/* footer start */

.office_info p,
.ft_menu p {
    font-size: 14px;
    line-height: 10px;
}

.footer_menu_list a {
    color: #fff;
    text-decoration: none;
}

.footer_menu_list a:hover {
    color: #ff6347;
    transition: 0.2s;
}

.ftc_btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: rgba(243, 243, 244, 0.15);
    margin: 15px 14px 0 0;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.ftc_btn i {
    margin: 9px;
    font-size: 12px;
    transition: 0.2s linear;
}

.ftc_btn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.footer_app {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center_element {
    display: flex;
    justify-content: space-between;
}

.center_element p {
    margin-right: 30px;
}

.footer_language {
    margin-top: -1%;
}

.footer_language li {
    list-style: none;
}

.footer_part_border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer_list {
    list-style: none;
    text-align: right;
}

.footer_list li {
    display: inline;
    margin-left: 25px;
}


/* smooth scrolling */

html {
    scroll-behavior: smooth;
}


/* ============= Contact Us page Start =========== */

.corporate_bg_color {
    background-color: #FF6347;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_us_head {
    height: 200px;
}

.contact_us_head h2 {
    color: #fff;
    font-weight: bold;
}

.contact_form {
    padding-top: 4%;
    padding-bottom: 7%;
}

.contact_child {
    padding: 0 6% 0 0;
}

.contact_menu_list a {
    color: #333333;
    text-decoration: none;
}

.contact_menu_list a:hover {
    color: #ff6347;
    transition: 0.2s;
}

.contact_social_btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: rgba(134, 142, 150, 0.15);
    margin: 15px 14px 0 0;
    border-radius: 50%;
    color: #666;
    overflow: hidden;
    position: relative;
}

.contact_social_btn i {
    margin: 9px;
    font-size: 12px;
    transition: 0.2s linear;
}

.contact_social_btn:hover i {
    transform: scale(1.3);
    color: #FF6347;
}

.corporate_btn {
    color: #fff;
    background-color: #FF6347;
    border-radius: 4px;
    border: 1px solid #FF6347;
    padding: 5px 15px;
    width: 80px;
    width: 130px;
    height: 40px;
}

.corporate_btn:hover {
    color: #FF6347;
    background-color: #FFF;
    transition: 0.4s;
}

.form_head {
    margin-bottom: 25px;
    font-weight: bold;
}

.contact_child h5 {
    font-weight: 500;
}

.map_link {
    color: #FF6347;
}

.map_link:hover {
    color: #FF6347;
    transition: 0.3s;
}

.map_link::after {
    content: '\f35d';
    font-family: fontAwesome;
    color: #FF6347;
    margin-left: 10px;
}

.form_label {
    color: #212529;
}

.form-control:focus {
    border-color: #FF6347 !important;
    box-shadow: 0 0 0 2px rgba(255, 99, 71, 25%) !important;
}

.input_field::placeholder {
    color: 868E96;
    font-size: 16px;
}


/* ============= Newsroom page Start =========== */

.newsroom_banner {
    position: relative;
}

.newsroom_banner img {
    width: 100%;
}

.newsroom_banner .banner_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #15141433;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsroom_single_card:hover {
    box-shadow: 0px 6px 11px 2px rgb(0 0 0 / 18%);
    /* box-shadow: 0px 17px 38px rgba(0, 0, 0, 0.13); */
    transition: 0.4s;
}

.newsroom_single_card:hover .card-title {
    color: #FF6347;
}

.newsroom_single_card:hover .blog_child {
    background-color: #fff;
}

.blog_date {
    color: #333333;
}


/* ============== Newsroom details page start ============ */

.blog_share_mobile ul {
    list-style: none;
}

.blog_share_mobile ul li {
    display: inline;
    margin-left: 10px;
}

.blog_share_mobile ul li a {
    color: #666;
}

.blog_share_laptop ul {
    list-style: none;
    text-align: center;
    margin-top: 68%;
}

.blog_share_laptop ul li {
    margin-bottom: 10px;
}

.blog_share_laptop ul li a {
    color: #666;
    margin-bottom: 10px;
}


/* ============== Career page start ============ */

.job_positions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C9CDD1;
    padding: 20px 20px 10px 10px !important;
}

.job_positions:last-child {
    border-bottom: none;
}

.job_positions:hover {
    background-color: #F7F7F7;
    border-radius: 5px;
    transition: 0.2s;
    cursor: context-menu;
}

.job_title {
    padding-left: 12px;
}

.job_title h4 {
    color: #212529;
}

.job_title ul {
    padding-left: 0;
}

.job_title ul li {
    display: inline;
    color: #666;
}

.job_title ul li::after {
    content: '•';
    margin: 0 5px 0 10px;
    font-size: 17px;
}

.job_title ul li:last-child::after {
    content: '•';
    display: none !important;
}

.apply_btn {
    color: #868E96;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 5px 22px;
    line-height: 25px;
    background-color: #fff;
    text-decoration: none;
}

.apply_btn:hover {
    color: #FFF;
    border: 1px solid #FF6347;
    background-color: #FF6347;
    transition: 0.4s;
}

.job_status {
    background-color: rgba(255, 60, 60, 0.1);
    color: #FF3C3C !important;
    font-size: 12px !important;
    font-weight: 500 !important;
}


/* ============== Job Description page start ============ */

.job_description_banner {
    background-color: #E9EBEF;
    height: 300px;
}

.apply_default_btn {
    color: #FFF;
    border: 1px solid #FF6347;
    background-color: #FF6347;
    border-radius: 4px;
    padding: 5px 22px;
    text-decoration: none;
}

.apply_default_btn:hover {
    color: #FF6347;
    border: 1px solid #FF6347;
    line-height: 25px;
    background-color: #fff;
    transition: 0.4s;
}

.breadcrumb_menu {
    border-bottom: 1px solid #E9EBEF;
}

.breadcrumb_menu_list ol li a {
    text-decoration: none !important;
    color: #666;
}

.breadcrumb_menu_list ol li:hover a {
    cursor: pointer;
}

.breadcrumb_menu_list ol li.active a {
    color: #FF6347;
}

.description_category h4 {
    color: #212529;
}


/* ============== Job Application form page start ============ */

.drop-zone {
    width: 100%;
    height: 120px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 1.5px dashed #BFBFBF;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: #FF6347;
    font-size: 14px;
    text-align: center;
}

.browse_btn {
    color: #FF6347;
}

.browse_btn:hover,
.upload_instruction {
    color: #BFBFBF;
}

.required::after {
    content: '*';
    color: #FF6347;
    margin-left: 3px;
}

.apply_submit_default_btn {
    color: #FFF;
    border: 1px solid #C9CDD1;
    background-color: #C9CDD1;
    border-radius: 4px;
    padding: 5px 22px;
    text-decoration: none;
}

.apply_submit_default_btn:hover,
.apply_submit_default_btn:focus {
    cursor: pointer;
    color: #FFF;
    border: 1px solid #FF6347;
    line-height: 25px;
    background-color: #FF6347;
    transition: 0.4s;
    outline: 0;
}


/* Sweet Alert */

.swal-button:not([disabled]):hover {
    background-color: #ff6347;
}

.swal-button:active {
    background-color: #ff6347;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.swal-button:focus {
    outline: none;
}

.swal-button {
    background-color: #ff6347;
    padding: 5px 15px;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-weight: 500;
}

.swal-icon--success__ring {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(255, 55, 69, 0.2)
}

.swal-icon--success {
    border-color: #FF6347;
}

.swal-icon--success__line {
    height: 5px;
    background-color: #FF6347;
}


/* ============== Service Details page start ============ */

.service_image {
    background: rgba(255, 99, 71, 0.1);
    height: 400px;
}

.service_image img {
    width: 30%;
}

.service_title {
    color: #0F1A4A;
}

.service_details {
    color: #717171;
}

.service_description {
    margin-top: 5%;
}


/* Selector */

::selection {
    background-color: #FF6347;
    color: #fff;
}

/* ================ terms and conditions and privacy policy =================*/

.corporate_color {
    color: #FF6347 !important;
}

.conditions ul li.corporate_color{
    font-size: 16px;
    font-weight:600;
}

.nested_ul li{
    list-style-type: square;
}

.conditions ul li{
    line-height: 30px;
    color: #000;
    text-align: justify;
}

.bold_list{
    font-weight: bold;
}

/* Ride sharing page design */
.common_head{
    font-weight: bold; 
    margin: 20px 0;
    text-align: center; 
    text-decoration: underline;
}
.common_text_color{
    color: #444;
}
.common_sub_head{
    color: #666;
}

.common_ride_paragraph{
    color: #999;
    line-height: 11px;
}
.ride_rules_btn{
    border: 0px;
    padding: 12px 20px;
    -webkit-box-shadow: inset 0 -2px 0 rgb(0 0 0 / 25%);
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 25%);
    background-color: #FF6347;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
}

.ride_rules_btn:hover{
    transition:0.4s;
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

.ride_share_tble_head thead tr th,
.ride_share_tbl tr:hover td{
    background-color: #ff6347;
    color: #fff;
}
.video_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  
  .responsive_iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none;
  }